<footer class="footer py-3 bg-dark ms-auto mt-auto">
    <div class="container">
        <span class="text-light"><a style="text-decoration: none; color: inherit;" href="https://www.udemy.com/course/the-web-developer-bootcamp/learn/lecture/22291516#content">&copy; YelpCamp</a></span>
    </div>
</footer>