<% layout('layouts/boilerplate.ejs') %>

    <div class="alert alert-danger" role="alert">
        <h1>
            <b>
                <%= err.name%> !!
            </b>
        </h1>
        <hr>
        <p>
            <%= err.message %>
        </p>
        <hr>
        <h3>For Nerds..</h3>
        <p>
            <%= err.stack %>
        </p>
    </div>